@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

h1, search, ul.ArticlesList, footer {
   animation: slideInUp 0.5s ease forwards;
 }


@keyframes myAnim {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100px);
	}
}

.nav-link2 {
  color: gray;
  background-color: none;
  text-decoration:none;
}

ul.ArticlesList {
 list-style-type: none;
  padding: 0;
}

ul.ArticlesList li.ArticlesItem {
  margin-top: 5px
  margin-bottom: 5px;
  border: none;
  padding: 5px;
}

ul.ArticlesList li.ArticlesItem:hover {
  margin-top: 5px
  margin-bottom: 5px;
  border: red thin solid;
  padding: 5px;
  animation: myAnim 0.3s ease 0s 1 normal forwards;
}

ul.ArticlesList li.ArticlesItem a.ArticlesLink {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  
}

ul.ArticlesList li.ArticlesItem a.ArticlesLink:hover {
  display: inline-block;
  background-color: magenta;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
}


.example {text-decoration:italic}

