
.perfection {
    text-align: justify;
    line-height: 1.6;        /* Оптимальный межстрочный интервал для читаемости */
    letter-spacing: 0.02em;  /* Легкое увеличение межбуквенного расстояния */
    font-family: "PT Sans", "Arial", sans-serif; /* Пример шрифта, похожего на Tilda */
    font-size: 16px;         /* Стандартный размер шрифта */
    color: #333333;          /* Цвет текста */
}
  .sp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* или 1600px */
  height: 100vh;
  z-index: 999;
  pointer-events: none;
  background-image: repeating-linear-gradient(
    90deg,
    rgba(0, 255, 0, 0.1) 0,
    rgba(0, 255, 0, 0.1) calc(1600px / 12),
    rgba(255, 255, 255, 0.3) calc(1600px / 12),
    rgba(255, 255, 255, 0.3) calc(1600px / 12 + 13px));
}
.w-90 {
width:90% !important;
}
.w-80 {
width:80%  !important;
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

h1, search, ul.ArticlesList, footer {
   animation: slideInUp 0.5s ease forwards;
 }


@keyframes myAnim {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100px);
	}
}

.nav-link2 {
  color: gray;
  background-color: none;
  text-decoration:none;
}

ul.ArticlesList {
 list-style-type: none;
  padding: 0;
}

ul.ArticlesList li.ArticlesItem {
  margin-top: 5px
  margin-bottom: 5px;
  border: none;
  padding: 5px;
}

ul.ArticlesList li.ArticlesItem:hover {
  margin-top: 5px
  margin-bottom: 5px;
  border: red thin solid;
  padding: 5px;
  animation: myAnim 0.3s ease 0s 1 normal forwards;
}

ul.ArticlesList li.ArticlesItem a.ArticlesLink {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  
}

ul.ArticlesList li.ArticlesItem a.ArticlesLink:hover {
  display: inline-block;
  background-color: magenta;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
}


.example {text-decoration:italic}
